# ======================
# APP
# ======================
NODE_ENV=local
PORT=4000


# ======================
# DATABASE
# ======================
DATABASE_URL=mongodb://localhost:27017/nest_db

# ======================
# AUTH / SECURITY
# ======================
JWT_SECRET=super_secret_key_change_me

# ======================
# GRAPHQL
# ======================
GRAPHQL_PLAYGROUND=true

# ======================
# CORS
# ======================
CORS_ORIGIN=http://localhost:3000

# ======================
# FILE UPLOADS (optional)
# ======================
MAX_FILE_SIZE=5242880
UPLOAD_DIR=uploads
